<!DOCTYPE html>
<html lang="fr" xmlns:th="https://www.thymeleaf.org"
  xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Gestion de Scolarité</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}">
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.2/font/bootstrap-icons.css">
    <link
      href="https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&family=Roboto:wght@100;300;400;500;700;900&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css">
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.6.3/dist/jquery.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"></script>
  </head>
  <body>
  	<svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
		<symbol id="check-circle-fill" fill="currentColor" viewbox="0 0 16 16">
			<path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z"/>
		</symbol>
	</svg>
  	<div class="global-container">

      <nav class="side-nav">
        <div class="nav-logo">
          <img th:src="@{/images/logo.svg}">
          <h2> &nbsp;&nbsp;Etudiants</h2>
        </div>

        <a href="#" class="bloc-link">
          <img th:src="@{/images/dashboard.svg}">
          <span class="nav-links">Dashboard</span>
        </a>
        <a href="#" class="bloc-link">
          <img th:src="@{/images/speech-bubble.svg}">
          <span class="nav-links">Message</span>
        </a>
        <a href="/" class="bloc-link">
          <img th:src="@{/images/server.svg}">
          <span class="nav-links">Liste</span>
        </a>
        <a href="#" class="bloc-link active">
         <img th:src="@{/images/profil-3.png}">
          <span class="nav-links">Profil</span>
        </a>
        <a href="#" class="bloc-link">
          <img th:src="@{/images/calendar.svg}">
          <span class="nav-links">Calendrier</span>
        </a>
        <a th:href="@{/logout}" class="bloc-link">
          <img th:src="@{/images/deconnection.jpg}">
          <span class="nav-links">Déconnexion</span>
        </a>
      </nav>

      <main class="main-content" th:switch="${profil}" >
		
		<div class="row">
			 
		 	<div class="col-4">
	            <div>
	                <div class="mb-3">
	                    <h6 class="text-primary text-center">CONTACT && ADRESSE</h6>
	                </div>
	                <div class="card mb-3">
		                <div class="card-body">
		                  <div class="row">
		                    <div class="col-4">
		                      <h6 class="mb-0">Téléphone</h6>
		                    </div>
		                    <div class="col-8 text-secondary" th:text="${profil.telephone}?${profil.telephone}:'000 00 000 00'">
		                      032 51 720 40
		                    </div>
		                  </div>
		                  <hr>
		                  <div class="row">
		                    <div class="col-4">
		                      <h6 class="mb-0">Sexe</h6>
		                    </div>
		                    <div class="col-8 text-secondary" th:text="${profil.sexe}?${profil.sexe}:'Masculin'">
		                      Masculin
		                    </div>
		                  </div>
		                  <hr>
		                  <div class="row">
		                    <div class="col-4">
		                      <h6 class="mb-0">Adresse</h6>
		                    </div>
		                    <div class="col-8 text-secondary" th:text="${profil.adresse}?${profil.adresse}:'II AB 22 Bis A'">
		                    
		                    	II AB 22 Bis A
		      
		                    </div>
		                  </div>
		                  <hr>
		                  <div class="row">
		                    <div class="col-4">
		                      <h6 class="mb-0">Quartier</h6>
		                    </div>
		                    <div class="col-8 text-secondary" th:text="${profil.quartier}?${profil.quartier}:'Andrononobe'">
		                    
		                    Andrononobe
		      
		                    </div>
		                  </div>
		                  <hr>
		                  <div class="row">
		                    <div class="col-4">
		                      <h6 class="mb-0">Commune</h6>
		                    </div>
		                    <div class="col-8 text-secondary" th:text="${profil.commune}?${profil.commune}:'Ankadikely Ilafy'">
		                    
		                    Ankadikely Ilafy
		      
		                    </div>
		                  </div>
		                  <hr>
		                  <div class="row">
		                    <div class="col-4">
		                      <h6 class="mb-0">Ville</h6>
		                    </div>
		                    <div class="col-8 text-secondary" th:text="${profil.ville}?${profil.ville}:'Antananarivo'">
		                    
		                    Antananarivo
		      
		                    </div>
		                  </div>
		                  <hr>
		                  <div class="row">
		                    <div class="col-4">
		                      <h6 class="mb-0">Pays</h6>
		                    </div>
		                    <div class="col-8 text-secondary" th:text="${profil.pays}?${profil.pays}:'Madagascar'">
		                    
		                    Madagascar
		      
		                    </div>
		                  </div>
		                  <hr>
		                  <div class="row">
		                    <div class="col-4">
		                      <h6 class="mb-0">Profession</h6>
		                    </div>
		                    <div class="col-8 text-secondary" th:text="${profil.profession}?${profil.profession}:'Développeur'">
		                      Développeur
		                    </div>
		                  </div>
		               </div>
	              </div>
	            </div>
	        </div>
			
             <div class="col-4">
	             <div class="card">
	
	              <div class="upper couverture">
					<img id="couverturePicture" style="max-height:125px;max-width:400px;" th:src="${profil.couverture}?@{'/uploads/'+${profil.couverture}}:@{/uploads/couverture.jfif}" class="img-fluid">
					<label for="fileInputCouverture">
						<i class="bi bi-camera"></i>
					</label>
					<input type="file" name="fileInputCouverture" id="fileInputCouverture" style="display:none;visibility:none;" accept="image/*">
	              </div>
	
	              <div class="user text-center">
	
	                <div class="profile">
						<img id="profilPicture" th:src="${profil.profil}?@{'/uploads/'+${profil.profil}}:@{/uploads/img_avatar.png}" class="rounded-circle" width="80">
						<label for="fileInputProfil">
							<i class="bi bi-camera"></i>
						</label>
						<input type="file" name="fileInputProfil" id="fileInputProfil" style="display:none;visibility:none;" accept="image/*">
	                </div>
	
	              </div>
	
	
	              <div class="mt-5 text-center">
	
	                <h4 class="mb-0" th:text="${profil.firstname} + ' ' + ${profil.lastname}"></h4>
	                <span class="text-muted d-block mb-2" th:text="${profil.ville}">Los Angles</span>
	
	                <button class="btn btn-primary">Follow</button>
                     <button class="btn btn-outline-primary">Message</button>
	
	
	                <div class="d-flex justify-content-between align-items-center mt-4 px-4">
	
	                  <div class="stats">
	                    <h6 class="mb-0">Followers</h6>
	                    <span>8,797</span>
	
	                  </div>
	
	
	                  <div class="stats">
	                    <h6 class="mb-0">Projects</h6>
	                    <span>142</span>
	
	                  </div>
	
	
	                  <div class="stats">
	                    <h6 class="mb-0">Ranks</h6>
	                    <span>129</span>
	
	                  </div>
	                  
	                </div>
	                
	              </div>
	               
	             </div>
	             
	             <div class="mt-3 text-center">
	                    <a class="btn btn-info" href="/user/profil/edit"><i class="bi bi-pencil-square"></i> Modifier</a>
	              </div>
	
	           </div>
	           <div class="col-4">
	            <div>
	                <div class="mb-3">
	                    <h6 class="text-primary text-center">SITE WEB && RESEAU SOCIAUX</h6>
	                </div>
	                <div class="card mb-3">
		                <div class="card-body">
		                  <div class="row">
		                    <div class="col-2">
		                      <h6 class="mb-0">
		                      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-globe me-2 icon-inline"><circle cx="12" cy="12" r="10"></circle><line x1="2" y1="12" x2="22" y2="12"></line><path d="M12 2a15.3 15.3 0 0 1 4 10 15.3 15.3 0 0 1-4 10 15.3 15.3 0 0 1-4-10 15.3 15.3 0 0 1 4-10z"></path></svg>
		                      </h6>
		                    </div>
		                    <div class="col-10 text-secondary" th:text="${profil.website}?${profil.website}:'website.com'">
		                  		nantenaina.alwaysdata.net
		                    </div>
		                  </div>
		                  <hr>
		                  <div class="row">
		                    <div class="col-2">
		                      <h6 class="mb-0">
		                      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-github me-2 icon-inline"><path d="M9 19c-5 1.5-5-2.5-7-3m14 6v-3.87a3.37 3.37 0 0 0-.94-2.61c3.14-.35 6.44-1.54 6.44-7A5.44 5.44 0 0 0 20 4.77 5.07 5.07 0 0 0 19.91 1S18.73.65 16 2.48a13.38 13.38 0 0 0-7 0C6.27.65 5.09 1 5.09 1A5.07 5.07 0 0 0 5 4.77a5.44 5.44 0 0 0-1.5 3.78c0 5.42 3.3 6.61 6.44 7A3.37 3.37 0 0 0 9 18.13V22"></path></svg>
		                      </h6>
		                    </div>
		                    <div class="col-10 text-secondary" th:text="${profil.github}?${profil.github}:'github.com'">
		                      github.com/nantenaina101
		                    </div>
		                  </div>
		                  <hr>
		                  <div class="row">
		                    <div class="col-2">
		                      <h6 class="mb-0">
		                      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-twitter me-2 icon-inline text-info"><path d="M23 3a10.9 10.9 0 0 1-3.14 1.53 4.48 4.48 0 0 0-7.86 3v1A10.66 10.66 0 0 1 3 4s-4 9 5 13a11.64 11.64 0 0 1-7 2c9 5 20 0 20-11.5a4.5 4.5 0 0 0-.08-.83A7.72 7.72 0 0 0 23 3z"></path></svg>
		                      </h6>
		                    </div>
		                    <div class="col-10 text-secondary" th:text="${profil.twitter}?${profil.twitter}:'twitter.com'">
		                      @nantenaina101
		                    </div>
		                  </div>
		                  <hr>
		                  <div class="row">
		                    <div class="col-2">
		                      <h6 class="mb-0">
		                      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-instagram me-2 icon-inline text-danger"><rect x="2" y="2" width="20" height="20" rx="5" ry="5"></rect><path d="M16 11.37A4 4 0 1 1 12.63 8 4 4 0 0 1 16 11.37z"></path><line x1="17.5" y1="6.5" x2="17.51" y2="6.5"></line></svg>
		                      </h6>
		                    </div>
		                    <div class="col-10 text-secondary" th:text="${profil.instagram}?${profil.instagram}:'instagram.com'">
		                      @nantenaina101
		                    </div>
		                  </div>
		                  <hr>
		                  <div class="row">
		                    <div class="col-2">
		                      <h6 class="mb-0">
		                      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-facebook me-2 icon-inline text-primary"><path d="M18 2h-3a5 5 0 0 0-5 5v3H7v4h3v8h4v-8h3l1-4h-4V7a1 1 0 0 1 1-1h3z"></path></svg>
		                      </h6>
		                    </div>
		                    <div class="col-10 text-secondary" th:text="${profil.facebook}?${profil.facebook}:'facebook.com'">
		                      
		                    </div>
		                  </div>
		                  <hr>
		                  <div class="row">
		                    <div class="col-2">
		                      <h6 class="mb-0">
		                      <img width="20px" th:src="@{/images/tiktok-icon.svg}">
		                      </h6>
		                    </div>
		                    <div class="col-10 text-secondary" th:text="${profil.tiktok}?${profil.tiktok}:'tiktok.com'">
		                      @nantenaina101
		                    </div>
		                  </div>
		               </div>
	              </div>
	            </div>
	        </div>
           </div>
        
      </main>
      

    </div>
    <script type="text/javascript" th:src="@{/js/script-profil.js}"></script>
    
  </body>
</html>